/* ! GLOBAL */

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* ! BODY */

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto Condensed" , Arial, sans-serif;
  font-weight: 400;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #222;
  color: #222;
}

img {
  max-width: 100%;
  height: auto;
}

/* ! CONTAINER */

.container {
  width: 100%;
  max-width: 1536px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}

/* ! MAIN CONTENT */

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* GLOBAL */

.global-wrapper {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-grow: 1;
}

/* HERO */

.site-hero {
  width: 100%;
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/back-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  padding: 24px;
}
.site-hero > .hero-content {
  width: 100%;
  max-width: 285px;
}
.hero-heading {
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 2px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 24px;
  font-family: "Bebas Neue" , "Roboto Condensed" , Arial, sans-serif;
  font-weight: 400;
}
.hero-link {
  display: inline-block;
  background-color: #1E90FF;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Bebas Neue" , "Roboto Condensed" , Arial, sans-serif;
}
.hero-link:hover {
  background-color: rgba(30, 144, 255, 0.8);
}
.hero-link:active {
  background-color: rgba(30, 144, 255, 0.6);
}
.hero-link-inner {
  display: flex;
  padding: 12px 24px;
  color: white;
}
.hero-link-inner::before {
  width: 20px;
  height: 20px;
  margin-right: 12px;
  background-image: url("../images/icon-star.svg");
  content: "";
}

/* LASTEST */

.lastest-videos {
  width: 100%;
  max-width: 600px;
  padding: 54px;
  background-color: #fff;
}
.lastest-videos-heading{
  margin-top: 0;
  font-size: 24px;
  line-height: normal;
  letter-spacing: 2px;
  font-weight: 400;
  font-family: "Bebas Neue" , "Roboto Condensed" , Arial, sans-serif;
}
.lastest-videos-divader{
  border: none;
  height: 1px;
  background-color: #999;
  margin-top: 24px;
  margin-bottom: 24px;
}
.lastest-videos-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}
.lastest-videos-item {
  display: flex;
  align-items: center;
}
.lastest-videos-item-image {
  width: 160px;
  height: auto;
}
.lastest-videos-item:not(:last-child) {
  margin-bottom: 10px;
}
.lastest-videos-item-content {
  padding: 16px;
}
.lastest-videos-item-content-heading {
  margin: 0;
  font-size: 18px;
  line-height: normal;
  font-weight: 400;
  letter-spacing: 2px;
  font-family: "Bebas Neue" , "Roboto Condensed" , Arial, sans-serif;
  margin-bottom: 4px;
}
.lastest-videos-item-content-link {
  text-decoration: none;
  color: #222;
}
.lastest-videos-item-content-link:hover {
  color: #1E90FF;
}
.lastest-videos-item-content-link:active {
  color :rgba(30, 144, 255, 0.6);
}
.lastest-videos-item-content-meta {
  display: flex;
  align-items: center;
  color: #888;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
.lastest-videos-item-content-published {
  display: flex;
  align-items: center;
  margin-right: 24px;
}
.lastest-videos-item-content-published::before {
  width: 16px;
  height: 16px;
  background-image: url("../images/icon-clock.svg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 4px;
  content: "";
}
.lastest-videos-item-content-visibaly {
  display: flex;
  align-items: center;
}
.lastest-videos-item-content-visibaly::before {
  width: 16px;
  height: 16px;
  background-image: url("../images/icon-clock.svg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 4px;
  content: "";
}


/* LOAD MORE */

.load-more-button {
  display: block;
  border: none;
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  background-color: #1E90FF;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: normal;
  cursor: pointer;
}

.load-more-button:hover {
  background-color: rgba(30, 144, 255, 0.8);
}
.load-more-button:active {
  background-color: rgba(30, 144, 255, 0.6);
}

/* RETINA IMG */

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  .site-hero {
    background-image: url("../images/back-img@2x.jpg");
  }
}